<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
<%- include('./partials/navigation'); %>
<%- include('./partials/pageHeader'); %>
<%- include('./partials/flash'); %>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <form action="/contact" method="post">
                        <div class="form-floating">
                            <input class="form-control" type="email" placeholder="Enter your email..." 
                            name="email" />
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" name="message" placeholder="Enter your message here..." style="height: 12rem"></textarea>
                            <label for="message">Message</label>
                        </div>
                        <br />
                        <input class="btn btn-primary text-uppercase"  type="submit" value="Send"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('./partials/footer'); %>
<%- include('./partials/importedScripts'); %>
</body>
</html>
