<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
<%- include('./partials/navigation'); %>
<%- include('./partials/pageHeader'); %>
<%- include('./partials/flash'); %>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <form action="/login" method="post">
                        <div class="form-floating">
                            <input class="form-control" id="email" type="email" placeholder="Enter your email..." 
                            name="email" />
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="password" type="password" placeholder="Password"
                            name="password" />
                            <label for="password">Password</label>
                        </div>
                        <br />
                        <input class="btn btn-primary text-uppercase " id="submitButton" type="submit" value="Login"/>
                    </form>
                    <p><a href="#">Forgot password</a></p>
                    <p><a href="/register">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('./partials/footer'); %>
<%- include('./partials/importedScripts'); %>
</body>
</html>
